body {

    font-family: 'Poppins', sans-serif;
    margin: 0;

}

h1 {
    font-size: 50px;
}

.phead {
    color: orange;
}

section {
    display: flex;
}

.pds {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}

.pds img {

    width: 80%;
}



.link-button {
    background-color: #4CAF50;
    /* Green */
    border: 2px solid orange;
    color: orange;
    background-color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;

}

.link-button:hover {
    border: 2px solid none;
    color: white;
    background-color: orange;


}

.top-banner {
    background-image: url(images/background1.jpg);
    background-repeat: no-repeat;
}

section {
    display: flex;
    margin-bottom: 100px;
    background-image: url(images/background1.jpg);
    background-repeat: no-repeat;
}